.user-container {
  background-color: rgba(238, 238, 238, 0.945);
  color: rgb(41, 41, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 65%;
  margin: 20px auto;
  border: 7px solid #ccc;
  padding: 20px;
  position: relative;
}

.search-container {
  background-color: rgba(255, 255, 255, 0.945);
  color: rgb(41, 41, 41);
  display: flex;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 65%;
  margin: 20px auto;
  border: 3px solid #ccc;
  padding: 20px;
  position: relative;
}

.user-image {
  flex: 1;
  margin-right: 20px;
}

.user-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px #ccc;
}

.user-details h3{
  flex: 2;
  font-size: 34px;
}

.user-details {
  flex: 2;
  font-size: 22px;
}

.user-actions {
  position: absolute;
  bottom: 0;
  right: 0;
}

.delete-icon,
.edit-icon {
  cursor: pointer;
  margin-left: 5px;
  font-size: 25px;
  color: rgb(108, 108, 108);
  transform: scale(1);
}


.edit-icon{
  margin-right: 5px;
}

 .delete-icon:hover,
 .edit-icon:hover{
  opacity: 0.5;
} 

/* Дополнительные стили для центрирования и сдвига текста */
.user-details {
  display: flex;
  flex-direction: column;
}

h3,
p,
b {
  margin: 0;
}

@media (max-width: 900px) {
  .user-container {
    max-width: 60%;
    border: 3px solid #ccc; 
    padding: 10px; 
    flex-direction: column;
  }

  .user-image {
    margin-right: 10px;
    margin-bottom: 10px; 
  }

  .user-details {
    font-size: 18px; 
  }

  .user-details h3 {
    font-size: 28px; 
  }

  .user-actions {
    position: static; 
    display: flex; 
    justify-content: space-between; 
    margin-top: 10px; 
  }

  .delete-icon,
  .edit-icon {
    font-size: 20px; /* Уменьшенный размер иконок на мобильных */
    margin: 0; /* Сбрасываем отступы иконок на мобильных */
  }
}

@media (max-width: 1450px) {
  .user-container {
    border: 3px solid #ccc; 
    padding: 10px; 
  }

  .user-image {
    max-width: 100%;
    margin-right: 10px;
  }

  .user-details {
    font-size: 18px; 
  }

  .user-details h3 {
    font-size: 28px; 
  }
}

@media (max-width: 1100px) {
  .user-container {
    border: 3px solid #ccc; 
    padding: 10px; 
  }

  .user-image {
    max-width: 100%;
    margin-right: 10px;
  }

  .user-details {
    font-size: 16px; 
  }

  .user-details h3 {
    font-size: 24px; 
  }
}